<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>

	{{> base/meta}}

	<link inline rel='stylesheet' href='bundle.css' />

	{{> base/font}}

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap" rel="stylesheet">
</head>

<body>

	{{!-- {{> base/header 'sticky'}} --}}

<main id='content'>

{{> story/intro }}

</main>

	{{!-- {{> base/footer }} --}}

	<script src='https://js-cdn.music.apple.com/musickit/v1/musickit.js'></script>
	<script src='{{basepath}}assets/scripts/d3.v6.0.0.min.js'></script>
	<script src='bundle.js?version={{timestamp}}'></script>
</body>

</html>
