.intro
	margin 0 auto
	max-width 100%
	position relative

	&__hed
		max-width 60rem
		margin 0 auto
		text-align center

	&__dek
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center

	&__byline
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center

	&__time
		display block
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center
